.profile {
  position: absolute;
  padding-left: 1050px;
}


#name {
  height: 200px;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(0,153,153, 0.2);
}

.paragraph {
  text-align: center;
}

.ciao{
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 6px 6px #150;
}

a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Georgia', cursive;
  background-color: rgba(122, 187, 194, 02);
  color: white;
}
h2 {
  font-size: 30px;
}
h1 {
  font-size: 60px;
}

p{
  line-height: 1.6;
}

li{
  line-height: 3;
}


.content-wrap {

    width: 950px;
    margin: auto;
}

#student {
  margin-top: -40px;
  background-color: rgba(83, 119, 122, 1);
}

footer {
  text-align: right;
  margin-right: 5px;
}
