/* Global styles 
------------------------------------*/
body {
  font-family: 'Arial', sans-serif;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Georgia', cursive;
}
h2 {
  font-size: 40px;
}
h1 {
  font-size: 80px;
}



/* Header & Footer 
------------------------------------*/




/* Work Experience
------------------------------------*/




/* Education
------------------------------------*/
