/* Global styles 
------------------------------------*/
body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(0,153,153, 0.2);
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Georgia', cursive;
  background-color: rgba(122, 187, 194, 0.8);
}
h2 {
  font-size: 30px;
}
h1 {
  font-size: 60px;
}



/* Header & Footer 
------------------------------------*/




/* Work Experience
------------------------------------*/




/* Education
------------------------------------*/
